<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sign In &middot; Project</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="description">
        <meta content="" name="author">

        <link rel="stylesheet" href="{{asset('bundles/loginlogin/css/bootstrap.css')}}">   
        <link rel="stylesheet" href="{{asset('bundles/loginlogin/css/bootstrap-responsive.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/loginlogin/css/parsley.css')}}"> 
        
        <!-- Bootstrap Core JavaScript -->
        
        <script src="{{asset('bundles/loginlogin/js/jQuery.1.9.1.min.js')}}" ></script>
        <script src="{{asset('bundles/loginlogin/js/bootstrap.js')}}"></script>
        <script src="{{asset('bundles/loginlogin/js/parsley/parsley.js')}}"></script>
        
        {%block stylesheets %}
        {%endblock%}
    </head>

    <body>
        {%block container %}
        {%endblock%}


        

        {%block javascripts %}
        {%endblock%}
    </body>
</html >